:local(.state-bar) {
    $state-bar-height: 30px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: $state-bar-height;
    color: var(--vscode-editor-foreground);
    background-color: var(--vscode-editorGroupHeader-tabsBackground);
    border-bottom: 1px solid var(--vscode-editorGroupHeader-tabsBorder);
    user-select: none;
    :local(.state) {
        padding: 0 10px;
        line-height: $state-bar-height;
        color: var(--vscode-tab-inactiveForeground);
        background-color: var(--vscode-tab-inactiveBackground);
        border-right: 1px solid var(--vscode-tab-border);
        cursor: pointer;
        &:local(.selected) {
            color: var(--vscode-tab-activeForeground);
            background-color: var(--vscode-tab-activeBackground);
        }
    }
}
